<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阴天了</title>
	
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style-metronic.css">
	<!-- <link rel="stylesheet" href="/css/modern.css"> -->
	<link rel="stylesheet" href="/css/style.css">

</head>

<body>
		
		
	<div class="container">
		<%- include header %>
		
		<div class="tab-content col-md-9 col-xs-12" style="border-right:0px dashed #999;">
			<div class="content-index">
				<p class="ptitle h3"><strong></strong></p>
			
			<% articleList.forEach(function(art) { %>
				
				<div class="col-md-12 info">
					<h3>
						<a href="/details/<%= art.id %>/1" target="_blank" title=
						"" style="font-size:20px;">	
							<%= art.title %>	
						</a>
						<span class="badge badge-danger"></span> 
					</h3><br />
					<div class="more">
						<p class=" " style="font-size:16px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<%= art.summary %>
						</p>
						<ul class="list-inline " style="color:#999">
							<li>
								<i class="glyphicon glyphicon-user"></i> 作者：<%= art.author %>&nbsp;&nbsp;&nbsp;
								<i class="glyphicon glyphicon-time"></i> 发表于：<%= art.time %>&nbsp;&nbsp;&nbsp;
								<i class="glyphicon glyphicon-eye-open"></i> 阅读次数：<%= art.rcount %> &nbsp;&nbsp;&nbsp;
                                                                <i class="glyphicon glyphicon glyphicon-th-large"></i> 分类：<%= art.type%> &nbsp;&nbsp;&nbsp;
							</li>
						</ul>
						
					</div>	
				</div>
				<% }) %>
			</div>
				<%- include page %>
			</div>
		<div class="col-md-3 col-xs-12" >
			<br /><br />
			<div class="btn-group pinned" role="group" aria-label="Vertical button group">
				
				<button type="button" class="btn btn-default cat">C</button>
	  			<button type="button" class="btn btn-default cat">JS</button>
	  			<button type="button" class="btn btn-default cat">其他</button>
	  			<button type="button" class="btn btn-default cat">三两事</button>
	  			<button type="button" class="btn btn-default cat">搜索</button>	
	  		
				<form action="/search" method="get">
					<div class="input-group buts">			
				      <input type="text" class="form-control" id="keyword" name="keyword" value="" placeholder="Search">
				      <span class="input-group-btn">
				        <button class="btn btn-default butt" type="button" id="subm" onClick="submit()">搜索 </button>
				      </span>
				    </div>
				</form>
			</div>
		  	<div class="hot" style="border:0px solid red">
		  		<div class="h4"><strong>热门文章 </strong></div>
		  		<ul>
		  		<% hot.forEach(function(hot){ %>
		  			<li><a href="/details/<%= hot.id %>/" target="_blank" title="<%= hot.title %>">	
						<%= hot.title %>	
					</a></li>
		  		<%})%>
				</ul>
			</div>
			<div class="links">
				<span class="h4"><strong>友情链接</strong></span>
				<dl class="text-center link">
					<dt><a href="http://job.xjtu.edu.cn/" target="_blank">建设中...</a></dt>
					<dt><a href="http://job.nwpu.edu.cn" target="_blank"></a></dt>
					<dt><a href="http://job.xidian.edu.cn" target="_blank"></a></dt>
				</dl>
			</div>
			
		</div>						
		<div class="back2top">
			<a href="#" title="返回顶部">back to top</a>
		</div>		
	</div>
	<%- include footer %>
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/metro.min.js"></script>
	<script src="/js/jquery.pin.js"></script>
	<script src="/js/ctl.js"></script>
	<script type="text/javascript">
		$(function(){
			//$(".more").hide();
			$(".buts").hide();
			var show = false;
			$(".pinned").pin({
			      containerSelector: ".container"
			})
			$(".badge").click(function(){
				var keyw = $(this).text().trim();
				console.log(keyw);
				$("#keyword").val(keyw)
				console.log($("#keyword").val());
				$("#subm").trigger("click");
			});
			$(".cat").click(function(){
				var words = $(this).text().trim();
				if(words == '搜索'){
					$(".buts").stop().fadeToggle("slow");
				}else if(words == '三两事'){
					window.location.href = "/classify/生活吐槽";
				}else if(words == '其他'){
					window.location.href = "/classify/其他语言";
				}else{
					window.location.href = "/classify/" + words;
				}
				//console.log($(this).text().trim());
				
			});
			/*$(".info").hover(
				function(){
					$(this).find(".more").stop().slideDown();
				},
				function(){
					$(this).find(".more").stop().slideUp();	
				});*/
		})

	</script>

</body>
</html>
