<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阴天了</title>
	<script src="/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style-metronic.css">
	<!-- <link rel="stylesheet" href="/css/modern.css"> -->
	<link rel="stylesheet" href="/css/style.css">
	<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
    <style type="text/css">
    </style>
	
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/metro.min.js"></script>
	<script src="/js/jquery.pin.js"></script>
</head>
<body>
	<%- include header %>
	<div class="container"> 
		<div class="article">
			
			<div class="col-md-9 col-xs-12 content">

				<div class="text-center ">
					<h3 class=""><%= article.title %></h3><br />
					<span>作者: &nbsp;<%= article.author %></span>&nbsp;&nbsp;&nbsp;
					<span>发表时间: <%= article.time %></span><br /><br /><br />
				</div>	
				<%- article.content %>
			</div>
			<div class="col-md-3 col-xs-12">
				
				<div id="addcomment">
					<form action="/comment" method="post">
					  	<div class="form-group">
					    	<label for="nickname">昵称</label>
					    	<input type="text" class="form-control" name="nickname" id="nickname" placeholder="请输入昵称">
					  	</div>
					  	<div class="form-group">
					    	<label for="email">邮箱</label>
					    	<input type="text" class="form-control" name="email" id="email" placeholder="请输入邮箱">
					  	</div>
					  	<div class="form-group">
					   	 	<label for="con">评论内容</label>
					   	 	<textarea class="form-control" name="con" id="con" cols="40" rows="10" placeholder="请输入评论内容"></textarea>
					  	</div>
					  	<input type="text" name="id" id="id" value="<%= article.id %>" hidden>
					  	<button type="submit" class="btn btn-default pull-right butt">提交评论</button>
					  	<div class="clearfix"></div>
					</form>	
				</div>
				<div class="ctitle">
					<p class="h3 text-center">文章评论</p>
				</div>
				<div style="width:100%;float:right" id="commentlist">
					<% comment.forEach(function(comment){ %>
					<h4><%= comment.name %></h4>
					<ul class="list-inline" >
						<li>
							<i class="glyphicon glyphicon-time">:<%= comment.create_time %></i> &nbsp;&nbsp;&nbsp;
						</li>
					</ul>
					<p style="height:100px;">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= comment.content %>
					</p>
					<% }) %>
				</div>	
				<%- include tinypage %>		
				<a id="change" class="btn btn-default pin pull-right">添加评论</a><br /><br />	
				<div class="back2top">
					<a href="#" title="返回顶部">back to top</a>
				</div>		
			</div>			
		</div>
	</div>
	<%- include footer %>
	<script>
		$(function(){
			console.log('<%=article.time%>');
			$('#addcomment').hide();
			$('.pin').pin({
				containerSelector: ".container"
			})
			var show = true;
			$('#change').click(function(){
				$('html, body').animate({scrollTop:0}, 'fast');
				console.log(show);
				if(show){
					$('#addcomment').stop().slideDown();
					//$('#commentlist').stop().animate();
					show = !show;
				}else{
					$('#addcomment').stop().slideUp();
					show = !show;
				}
				 
				//$('#commentlist').stop().fadeOut();
			})
			$(window).scroll(function(){
				$('#addcomment').stop().slideUp();
				show = true;
			})
		})

	</script>
</body>
</html>