<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阴天了</title>
	<script src="/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style-metronic.css">
	<!-- <link rel="stylesheet" href="/css/modern.css"> -->
	<link rel="stylesheet" href="/css/style.css">
	
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/metro.min.js"></script>
</head>

<body>
		<%- include header %>
		
	<div class="container">
		<h3 class="text-center">评论列表</h3>
		<!-- <div class="tab-content col-md-9 col-xs-12"> -->
		<% comments.forEach(function(comment){ %>
			<div class="col-md-12 info" style="border-bottom: 1px dashed grey;">
				<div style="float:left;width:100px;height:100px;background:url(/images/tx.jpg)"></div>
				<div style="width:80%;float:right">
					<h7>
						<p style="font-size:27px;"><%= comment.name %></p> 
					</h7>
					<ul class="list-inline" >
						<li>
							<i class="glyphicon glyphicon-time"></i> 发表于：<%= comment.create_time %>&nbsp;&nbsp;&nbsp;
						</li>
					</ul>
					<p style="height:100px;">
						<%= comment.content%>	
					</p>
				</div>
			</div>
			<% }) %>
			<%- include page %>
		<!-- </div> -->
		<button type="button" class="btn btn-default floatb" style="border-radius:10px;" data-toggle="modal" data-target="#addcomment" data-whatever="">吐槽点我</button>	
  		<div class="modal fade" id="addcomment" tabindex="-1" role="dialog" aria-labelledby="addcomment">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title" id="exampleModalLabel">添加评论</h4>
		      		</div>
		     	 	<div class="modal-body">
		        		<form action="/comment" method="post">
						  	<div class="form-group">
						    	<label for="nickname">昵称</label>
						    	<input type="text" class="form-control" name="nickname" id="nickname" placeholder="请输入昵称">
						  	</div>
						  	<div class="form-group">
						   	 	<label for="con">评论内容</label>
						   	 	<textarea class="form-control" name="con" id="con" cols="40" rows="10" placeholder="请输入评论内容"></textarea>
						  	</div>
							<input type="text" name="id" id="id" value="0" hidden>
						</form>	
		      		</div>
		      		<div class="modal-footer">
		      			<button type="button" id="submit" class="btn btn-default">提交评论</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		      		</div>
		    	</div>
		  	</div>
		</div>	
	</div>
	<script type="text/javascript">
		$(function(){
			$("#submit").click(function(){
				$("form").submit();
			})
		})
	</script>
	<%- include footer%>
</body>
</html>