<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阴天了</title>
	
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style-metronic.css">
	<!-- <link rel="stylesheet" href="/css/modern.css"> -->
	<link rel="stylesheet" href="/css/style.css">

</head>
<style type="text/css">
	th,td{
		text-align: center;
	}
</style>

<body>
	<%- include header %>
	<div class="container">
		
		<div style="height:20px;"><button type="button" class="btn btn-default addart">添加文章</button></div>
		<div class="artlist text-center">
			<table class="table table-hover">
				<tr>
					<th>文章ID</th>
					<th>文章名称</th>
					<th>文章类型</th>
					<th>文章作者</th>
					<th>发表时间</th>
					<th>操作</th>

				</tr>
			<% articles.forEach(function(article){ %>
				<!-- <span class="pull-left"><%= article.time%></span><br /><br /> -->
				<tr>
					<td class="id"><%= article.id %></td>
					<td class="title"><a href="/details/<%= article.class %>/1" target="_blank" title=
							"" style=";">		
							<%= article.title %></a></td>
					<td class="type"><%= article.type %></td>
					<td class="author"><%= article.author %></td>
					<td class="time"><%= article.time %></td>
					<td class="operate"><span class="remove_art glyphicon glyphicon-remove"></span>
					<span class="edit_art glyphicon glyphicon-pencil"></span></td>
				</tr>
			<% }) %>
			</table>
		</div>

		<div class="comlist text-center">
			<table class="table table-hover">
				<tr>
					<th>ID</th>
					<th>昵称</th>
					<th>父标签ID</th>
					<th>发表时间</th>
					<th>评论内容</th>
					<th>操作</th>

				</tr>
			<% comments.forEach(function(comment){ %>
				<tr>
					<td class="id"><%= comment.id %></td>
					<td class="name"><a href="/details/<%= comment.name %>/1" target="_blank" title="" style=";"><%= comment.name %></a></td>
					<td class="parentid"><%= comment.parentid %></td>
					<td class="create_time"><%= comment.create_time %></td>
					<td class="author"><%= comment.content %></td>
					
					<td class="operate"><span class="remove_com glyphicon glyphicon-remove"></span></td>
				</tr>
			<% }) %>
			</table>
		</div>
	</div>
	<%- include footer%>
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/metro.min.js"></script>
	<script src="/js/jquery.pin.js"></script>
	<script src="/js/ctl.js"></script>
	<script type="text/javascript">
		$(".remove_art").click(function(){
			var id = parseInt($(this).parent().parent().find(".id").text());
			window.location.href = "/delete/article/" + id;
		})
		$(".remove_com").click(function(){
			var id = parseInt($(this).parent().parent().find(".id").text());
			window.location.href = "/delete/comment/" + id;
		})
		$(".edit_art").click(function(){
			var id = parseInt($(this).parent().parent().find(".id").text());
			window.location.href = "/edit/" + id;
		})
		$('.addart').click(function(){
			window.location.href="/deliver";
		})
	</script>
	
</body>
</html>