<nav class="text-center" <% if(page===-1){ %>hidden<%}%> >
  <ul class="pagination">
  
    <li class="">
      <a href="/<%=tab%>/1" aria-label="First">
        <span aria-hidden="true">First</span>
      </a>
    </li>
    <li class="<% if(page<2){ %> disabled <% } %>">
      <a href="/<%=tab%>/<%= page-1 %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <%
    for(var i=0;i<3;i++){

        if(page+i<count+1){%>
           <li class=""><a href="/<%=tab%>/<%= page+i %>"><%= page+i %></a></li>
        <%
        }else{%>
            <li class="disabled"><a href="/<%=tab%>/<%= page+i %>"><%= page+i %></a></li>
        <%
        }}
    %>
    <li class="<% if(page==count){ %> disabled <% } %>">
      <a href="/<%=tab%>/<%= page+1 %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li class="<% if(page==count){ %> disabled <% } %>">
      <a href="/<%=tab%>/<%= count %>" aria-label="Last">
        <span aria-hidden="true">Last</span>
      </a>
    </li>

  </ul>
</nav>