<nav class="text-center page" <% if(parseInt(page)===-1){ %>hidden<%}%> >
  <ul class="pagination">
    <li class="">
      <a href="/<%=tab%>/1" aria-label="First">
        <span aria-hidden="true">首页</span>
      </a>
    </li>
    <li class="<% if(parseInt(page)<2){ %> disabled <% } %>">
      <a href="/<%=tab%>/<%= parseInt(page)-1 %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <%
      if(parseInt(page)==1){
        for(var i=0;i<3;i++){

        if(parseInt(page)+i<parseInt(count)+1){%>
           <li class=""><a href="/<%=tab%>/<%= parseInt(page)+i %>"><%= parseInt(page)+i %></a></li>
        <%
        }else{%>
            <li class="disabled"><a href="/<%=tab%>/<%= parseInt(page)+i %>"><%= parseInt(page)+i %></a></li>
        <%
        }}
      }else{
        for(var i=0;i<3;i++){

        if(parseInt(page)+i<parseInt(count)+1){%>
           <li class=""><a href="/<%=tab%>/<%= parseInt(page)+i-1 %>"><%= parseInt(page)+i-1 %></a></li>
        <%
        }else{%>
            <li class="disabled"><a href="/<%=tab%>/<%= parseInt(page)+i-1 %>"><%= parseInt(page)+i-1 %></a></li>
        <%
        }}
      }
    %>
    <li class="<% if(parseInt(page)==parseInt(count)){ %> disabled <% } %>">
      <a href="/<%=tab%>/<%= parseInt(page)+1 %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li class="<% if(parseInt(page)==parseInt(count)){ %> disabled <% } %>">
      <a href="/<%=tab%>/<%= parseInt(count)%>" aria-label="Last">
        <span aria-hidden="true">末页</span>
      </a>
    </li>

  </ul>
</nav>