<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>瘦瘦瘦瘦瘦耶</title>
	<script src="/public/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/style-metronic.css">
	<!-- <link rel="stylesheet" href="/public/css/modern.css"> -->
	<link rel="stylesheet" href="/public/css/style.css">
	
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/metro.min.js"></script>
</head>
<script type="text/javascript">
	// $(function(){
	// 	$('#jobfair').click(function(){
	// 		$(this).addClass('active');
	// 		$('#internfair').removeClass('active');
	// 		$('#job').removeClass('active');
	// 	})

	// 	$('#internfair').click(function(){
	// 		$(this).addClass('active');
	// 		$('#jobfair').removeClass('active');
	// 		$('#job').removeClass('active');
	// 	})

	// 	$('#job').click(function(){
	// 		$(this).addClass('active');
	// 		$('#internfair').removeClass('active');
	// 		$('#jobfair').removeClass('active');
	// 	})
	// })
</script>
<body>
		<%- include header %>
		
	<div class="container">
		<!-- <div class="page-sidebar ">
	        <ul>
	            <li class="sticker"><a>Item</a></li>
	            ...
	        </ul>
	    </div> -->
	    
		<div class="">
			<ul id="myTab" class="nav nav-tabs">
			   	<li id="jobfair" <% if(tab == 'jobfair'){%> class="active" <%}%>>
			   		<a href="/jobfair">校园招聘</a>
			   	</li>
			   	<li id="internfair" <% if(tab == 'internfair'){%> class="active" <%}%>>
			   		<a href="/internfair">实习招聘</a>
			   	</li>
			   	<li id="job" <% if(tab == 'job'){%> class="active" <%}%>>
			      	<a href="/job">校外招聘</a>
			   	</li>
			</ul>
			<div class="tab-content col-md-9 col-xs-12">
				
				<% job_info.forEach(function(job_info) { %>
					
					<div class="col-md-12 info">
						<h3>
							<a href="<%= job_info.url %>" target="_blank" title=
							"<%= job_info.title %>" style="font-size:24px;">	
									<%= job_info.title %>
							</a>
							<span class="badge badge-danger"><%= job_info.school %></span> 
							<span class="badge badge-warning" style="font-size: 9px;">招聘会</span>
						</h3>
						<ul class="list-inline" >
							<li>
								<i class="glyphicon glyphicon-time"></i> 发表于：<%= job_info.time %>&nbsp;&nbsp;&nbsp;
								<i class="glyphicon glyphicon-eye-open"></i> 阅读次数：2562
							</li>
						</ul>
						<p>
							单位名称：<strong style="font-size: 16px;"><%= job_info.title %></strong><br/>
							来源：<strong><%= job_info.school %></strong> &nbsp;&nbsp;&nbsp;&nbsp;所属行业：<strong>教育</strong> &nbsp;&nbsp;&nbsp;&nbsp;职位性质：<strong>全职</strong><br/>
							工作地点：<strong></strong>&nbsp;&nbsp;&nbsp;&nbsp;职位类别：<strong></strong>
							&nbsp;&nbsp;&nbsp;&nbsp;学历要求：<strong></strong>
						 </p>
						</div>
					<% }) %>
					<%- include page %>
				</div>
					<div class="col-md-3 col-xs-12">
						<br /><br />
						<div class="input-group">
					      <input type="text" class="form-control" placeholder="Search for...">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					      </span>
					    </div>
					    <div class="col-md-3 col-xs-12">
						
							<div class="hot-badge">
								<h5 class="hb-title">热门标签</h5>
							</div>
						</div>
					</div>
					
				
			</div>
			
	</div>
			
</body>
</html>