<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>瘦瘦瘦瘦瘦耶</title>
	<script src="/public/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/style-metronic.css">
	<!-- <link rel="stylesheet" href="/public/css/modern.css"> -->
	<link rel="stylesheet" href="/public/css/style.css">
	
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/metro.min.js"></script>
</head>
<script type="text/javascript">
	// $(function(){
	// 	$('#jobfair').click(function(){
	// 		$(this).addClass('active');
	// 		$('#internfair').removeClass('active');
	// 		$('#job').removeClass('active');
	// 	})

	// 	$('#internfair').click(function(){
	// 		$(this).addClass('active');
	// 		$('#jobfair').removeClass('active');
	// 		$('#job').removeClass('active');
	// 	})

	// 	$('#job').click(function(){
	// 		$(this).addClass('active');
	// 		$('#internfair').removeClass('active');
	// 		$('#jobfair').removeClass('active');
	// 	})
	// })
</script>
<body>
		<%- include header %>
		
	<div class="container">
		<!-- <div class="page-sidebar ">
	        <ul>
	            <li class="sticker"><a>Item</a></li>
	            ...
	        </ul>
	    </div> -->
	    
		<div class="">
			<ul id="myTab" class="nav nav-tabs">
			   	<li id="jobfair" <% if(tab == 'jobfair'){%> class="active" <%}%>>
			   		<a href="/jobfair">校园招聘</a>
			   	</li>
			   	<li id="internfair" <% if(tab == 'internfair'){%> class="active" <%}%>>
			   		<a href="/internfair">实习招聘</a>
			   	</li>
			   	<li id="job" <% if(tab == 'job'){%> class="active" <%}%>>
			      	<a href="/job">校外招聘</a>
			   	</li>
			</ul>
			<div class="tab-content col-md-9 col-xs-12">
				
				<% job_info.forEach(function(job_info) { %>
					
					<div class="col-md-12 info">
						<h3>
							<a href="<%= job_info.url %>" target="_blank" title=
							"<%= job_info.title %>" style="font-size:24px;">	
									<%= job_info.title %>
							</a>
							<span class="badge badge-danger"><%= job_info.school %></span> 
							<span class="badge badge-warning" style="font-size: 9px;">招聘会</span>
						</h3>
						<ul class="list-inline" >
							<li>
								<i class="glyphicon glyphicon-time"></i> 发表于：<%= job_info.time %>&nbsp;&nbsp;&nbsp;
								<i class="glyphicon glyphicon-eye-open"></i> 阅读次数：2562
							</li>
						</ul>
						<p>
							单位名称：<strong style="font-size: 16px;"><%= job_info.title %></strong><br/>
							来源：<strong><%= job_info.school %></strong> &nbsp;&nbsp;&nbsp;&nbsp;所属行业：<strong>教育</strong> &nbsp;&nbsp;&nbsp;&nbsp;职位性质：<strong>全职</strong><br/>
							工作地点：<strong></strong>&nbsp;&nbsp;&nbsp;&nbsp;职位类别：<strong></strong>
							&nbsp;&nbsp;&nbsp;&nbsp;学历要求：<strong></strong>
						 </p>
						</div>
					<% }) %>
					<%- include page %>
				</div>
					<div class="col-md-3 col-xs-12">
						<br /><br />
							<form action="/search" method="get">
								<div class="input-group">
								  <input type="hidden" class="form-control" id="tbname" name="tbname" value="<%= tab %>">						
							      <input type="text" class="form-control" id="keyword" name="keyword" value="" placeholder="Search">
							      <span class="input-group-btn">
							        <button class="btn btn-default" type="button" id="subm" onClick="submit()">搜索 </button>
							      </span>
							    </div>
							</form>
					  	<div class="labels" style="border:0px solid red">
					  		<div class="">热门标签: </div>
							<span class="badge badge-default" style="width:96px;height:26px;margin:10px;">计算机</span>
							<span class="badge badge-info" style="width:63px;height:23px;margin:10px;">校园招聘</span>
							<span class="badge badge-danger" style="width:82px;height:28px;margin:10px;">研发</span>
							<span class="badge badge-warning" style="width:73px;height:25px;margin:10px;">大数据</span>
							<span class="badge badge-primary" style="width:55px;height:21px;margin:10px;">北京</span>
							<span class="badge badge-info" style="width:83px;height:27px;margin:10px;">上海</span>
							<span class="badge badge-primary" style="width:91px;height:29px;margin:10px;">深圳</span>
							<span class="badge badge-success" style="width:88px;height:20px;margin:10px;">软件</span>
							<span class="badge badge-danger" style="width:69px;height:24px;margin:10px;">金融</span>
							<span class="badge badge-info" style="width:72px;height:25px;margin:10px;">人力资源</span>
						</div>
						<div class="back">
							<span>友情链接</span>
							<dl class="text-center link">
								<dt><a href="http://job.xjtu.edu.cn/" target="_blank">西安交通大学就业信息网</a></dt>
								<dt><a href="http://job.nwpu.edu.cn" target="_blank">西北工业大学就业信息网</a></dt>
								<dt><a href="http://job.xidian.edu.cn" target="_blank">西安电子科技大学就业信息网</a></dt>
							</dl>
						</div>
					</div>						
			</div>			
	</div>
<script type="text/javascript">
	$(function(){
		$(".badge").click(function(){
			var keyw = $(this).text().trim();
			$("#keyword").val(keyw)
			console.log($("#keyword").val());
			$("#subm").trigger("click");
		});
	})

</script>
</body>
</html>