<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>瘦瘦瘦瘦瘦耶</title>
	<script src="/public/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/style-metronic.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<script src="/public/js/bootstrap.min.js"></script>
</head>
<script>
</script>
<body>
		<%- include header %>
	
	<div class="container">
		<div class="col-md-9 col-xs-12 blog-page ">
		<table class="table">
		<% jobfairlist.forEach(function(jobfair) { %>
			<tr>
			<td><div class="col-md-12 ">
				<h3>
					<a href="<%= jobfair.url %>" target="_blank" title=
					"<%= jobfair.title %>">	
							<%= jobfair.title %>
					</a>
					<span class="badge badge-danger">up</span> 
					<span class="badge badge-warning" style="font-size: 9px;">new</span>
				</h3>
				<ul class="list-inline blog-tag-data" >
					<li>
						<i class="fa fa-calendar"></i> 发表于：<%= jobfair.time %>
						<i class="fa fa-tachometer"></i> 阅读次数：2562
					</li>
				</ul>
				<p>
					单位名称：<strong style="font-size: 16px;"><%= jobfair.title %></strong><br/>
					来源：<strong><%= jobfair.school %></strong> &nbsp;&nbsp;&nbsp;&nbsp;所属行业：<strong>教育</strong> &nbsp;&nbsp;&nbsp;&nbsp;职位性质：<strong>全职</strong><br/>
					工作地点：<strong></strong>&nbsp;&nbsp;&nbsp;&nbsp;职位类别：<strong></strong>
					&nbsp;&nbsp;&nbsp;&nbsp;学历要求：<strong></strong>
				 </p>
				</div></td>
				</tr>
			<% }) %>
			</table>
			<table class="table">
			<% readInternFairList.forEach(function(jobinternfair) { %>
				<tr>
				<td><div class="col-md-12 ">
					<h3>
						<a href="<%= jobinternfair.url %>" target="_blank" title=
						"<%= jobinternfair.title %>">	
								<%= jobinternfair.title %>
						</a>
						<span class="badge badge-danger">up</span> 
						<span class="badge badge-warning" style="font-size: 9px;">new</span>
					</h3>
					<ul class="list-inline blog-tag-data" >
						<li>
							<i class="fa fa-calendar"></i> 发表于：<%= jobinternfair.time %>
							<i class="fa fa-tachometer"></i> 阅读次数：2562
						</li>
					</ul>
					<p>
						单位名称：<strong style="font-size: 16px;"><%= jobinternfair.title %></strong><br/>
						来源：<strong><%= jobinternfair.school %></strong> &nbsp;&nbsp;&nbsp;&nbsp;所属行业：<strong>教育</strong> &nbsp;&nbsp;&nbsp;&nbsp;职位性质：<strong>全职</strong><br/>
						工作地点：<strong></strong>&nbsp;&nbsp;&nbsp;&nbsp;职位类别：<strong></strong>
						&nbsp;&nbsp;&nbsp;&nbsp;学历要求：<strong></strong>
					 </p>
					</div></td>
					</tr>
				<% }) %>
			</table>
			<table class="table">
			<% JobList.forEach(function(job) { %>
				<tr>
				<td><div class="col-md-12 ">
					<h3>
						<a href="<%= job.url %>" target="_blank" title=
						"<%= job.title %>">	
								<%= job.title %>
						</a>
						<span class="badge badge-danger">up</span> 
						<span class="badge badge-warning" style="font-size: 9px;">new</span>
					</h3>
					<ul class="list-inline blog-tag-data" >
						<li>
							<i class="fa fa-calendar"></i> 发表于：<%= job.time %>
							<i class="fa fa-tachometer"></i> 阅读次数：2562
						</li>
					</ul>
					<p>
						单位名称：<strong style="font-size: 16px;"><%= job.title %></strong><br/>
						来源：<strong><%= job.school %></strong> &nbsp;&nbsp;&nbsp;&nbsp;所属行业：<strong>教育</strong> &nbsp;&nbsp;&nbsp;&nbsp;职位性质：<strong>全职</strong><br/>
						工作地点：<strong></strong>&nbsp;&nbsp;&nbsp;&nbsp;职位类别：<strong></strong>
						&nbsp;&nbsp;&nbsp;&nbsp;学历要求：<strong></strong>
					 </p>
					</div></td>
					</tr>
				<% }) %>
			</table>
		</div>
		<div class="col-md-3 hidden-sm hidden-xs">
			
		</div>
	</div>
</body>
</html>