<nav class="text-center">
  <ul class="pagination">
  
    
    <li class="<% if(page<2){ %> disabled <% } %>">
      <a href="/<%=tab%>/<%= page-1 %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <!--<p>11111111111111111111111111111111--<%=count%></p>-->
    <%
    for(var i=0;i<3;i++){

        if(page+i<count+1){%>
           <li class=""><a href="/<%=tab%>/<%= page+i %>"><%= page+i %></a></li>
        <%
        }else{%>
            <li class="disabled"><a href="/<%=tab%>/<%= page+i %>"><%= page+i %></a></li>
        <%
        }}
    %>
    <li class="<% if(page==count){ %> disabled <% } %>"">
      <a href="/<%=tab%>/<%= page+1 %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>

  </ul>
</nav>